* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body.scroll-off {
    overflow: hidden;
}

body:not(.scroll-off) main {
    opacity: 1;
    transform: translateY(0);
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    overflow-x: hidden;
}

header{
    height: 100vh;
    background-color: #222222;
}

.hero {
    position: relative;
    background: url('../img/hero.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
}

.content h3 {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.content h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content h1 span{
    color: #4797ff;
}

.content h4 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: normal;
    padding-bottom: 1rem;
}

.profile-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.profile-icon img{
    border: 1px solid #fff;
    width: 40%;
    border-radius: 50%;
}

.next-button{
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 50px;
    border-radius:15px;
    color: #000;
    z-index: 999;
}

.next-button a{
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}

.next-button a p::after{
    content: '';
    display: block;
    width: 20%;
    margin: 0.5rem auto 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease-in-out;
}

.next-button img{
    width: 1.8rem;
}

.count-down-date {
    display: flex;
    justify-content: center;
    position: a;
}

.count-down {
    display: flex;
    gap: 20px;
}

.count-down-item {
    background: #fff;
    border: 1px solid #4797ff;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.count-down-number {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4797ff;
    display: block;
}

.count-down-text {
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
    margin: 0;
}

/* Nav-Maps */
.navmap-container {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.navmap-container.show {
    opacity: 1;
    pointer-events: auto;
}

.map-content {
    background: #79797996;
    padding: 0.3rem;
    margin: 1rem;
    border-radius: 8px;
}

.map-content img {
    width: 1.5rem;
    display: block;
}

/* MAIN */
main {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    background-color: #f9f9f9;
    color: #333;
    padding-bottom: 50px;
}

.container {
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.islamic-opening {
    text-align: center;
    padding: 60px 20px;
    background-color: #fff;
    color: #333;
}

.salam {
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.quran-verse {
    font-style: italic;
    font-family: 'serif';
    max-width: 700px;
    margin: 0 auto 30px auto;
    line-height: 1.8;
    color: #666;
    position: relative;
    padding: 20px;
}

.quran-verse span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-style: normal;
    font-size: 0.85rem;
    color: #4797ff;
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
    visibility: hidden;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.invitation-text {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 0.95rem;
}

/* Profile */
.profile {
    text-align: center;
}

.couple {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mempelai {
    flex: 1;
}

.mempelai p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #777;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.mempelai h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: #4797ff;
}

.and {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    color: #777;
}

/* Main Event */
.event-header{
    background-color: #fff;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 40px;
    color: #4797ff;
}

.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 20px 60px 20px;
    background-color: #fff;
}

.event-card {
    background: #fff;
    border: 1px solid #eee;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    position: relative;
    overflow: hidden;
}

.event-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.4rem;
    height: 100%;
    background-color: #4797ff;
}

.event-card h3 {
    margin-bottom: 15px;
    color: #4797ff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.event-line{
    content: '';
    position: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #22222238;
}

.event-date{
    padding-top: 1rem;
}

.event-date p:first-child{
    font-size: 0.8rem;
    color: #222222;
}

.event-date p:last-child{
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
}

.event-location{
    padding: 2rem;
}

.event-location p{
    font-size: 0.8rem;
}

.add-calendar a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4797ff;
    width: max-content;
    padding: 0.4rem 0.5rem;
    border-radius: 0.6rem;
    gap: 0.5rem;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
}

.add-calendar p{
    font-size: 0.5rem;
    font-weight: bold;
}

.add-calendar img{
    width: 1.4rem;
    height: max-content;
}

.add-calendar p{
    font-size: 0.7rem;
}

/* Main maps */
.maps {
    padding: 40px 20px;
    text-align: center;
}

.maps h3 {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color:#4797ff ;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.map-container {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    .content h1 {
        font-size: 3.5rem;
    }
    
    .content h3 {
        font-size: 1.2rem;
    }

    /* MAIN */
    .couple {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }
}

@media (max-width: 480px) {
    .hero{
        height:100vh;
    }

    .content{
        padding-top: 20%;
    }

    .content h1 {
        font-size: 2.5rem;
    }
    
    .content h3 {
        font-size: 1rem;
    }

    .content h4{
        padding-bottom: 1rem;
        font-size: 0.9rem;
    }

    .next-button a{
        font-size: 0.7rem;
    }

    .next-button img{
        width: 1.5rem;
    }

    /* MAIN */
    .quran-verse {
        font-size: 0.9rem;
    }
    
    .count-down {
        gap: 10px;
    }
    
    .count-down-item {
        width: 65px;
        height: 65px;
    }

    .count-down-number {
        font-size: 1.2rem;
    }

    /* Main-Couple */
    .couple {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 100%;
        text-align: center;
    }

    .mempelai {
        width: 100%;
    }

    .mempelai h2 {
        font-size: 2.5rem;
        margin-bottom: 5px;
    }

    .mempelai p {
        font-size: 0.7rem;
        margin-bottom: 10px;
        max-width: 90%;
    }

    .and {
        font-size: 2rem;
        margin: 10px 0;
    }
}

@keyframes fadeInText {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 380px){
    .next-button a{
        font-size: 0.6rem;
    }
}

/* Typewriter-text */
.typewriter-text {
    font-family: 'Montserrat', sans-serif;
    display: block;
    white-space: normal;
    overflow: visible;
    opacity: 1;
    text-align: center;
    line-height: 1.5;
    font-size: 0.9rem;
    color: #777;
    margin: 10px auto;
    max-width: 90%;
}

.typewriter-text.active {
    animation: fadeInText 1.5s ease forwards;
}

@keyframes fadeInText {
    from { 
        opacity: 0; 
        transform: translateY(5px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}

@keyframes printEffect {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

/* LOADING SCREEN */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.8s ease, visibility 0.8s;
}

.loader-content {
    text-align: center;
}

.loader-name {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5rem;
    color: #333;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeInName 1.5s ease forwards;
}

.progress-bar {
    width: 200px;
    height: 2px;
    background: #eeeeee;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.progress-fill {
    width: 0%;
    height: 100%;
    background: #4797ff;
    animation: fillProgress 2s ease-in-out forwards;
}

@keyframes fadeInName {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fillProgress {
    0% { width: 0%; }
    100% { width: 100%; }
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}